<h2>Atualizar Cadastro</h2>
<form #formAtualizar="ngForm" (ngSubmit)="atualizar()">
    <div class="form-group">
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" readonly>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" [(ngModel)]="att.email" required>
    </div>
    <div class="form-group">
        <input type="date" class="form-control" id="datanasc" name="datanasc" placeholder="Data de Nascimento" readonly>
    </div>
    <div class="form-group">
        <input type="number" class="form-control" id="altura" name="altura" placeholder="Altura ( centímetro )" [(ngModel)]="att.altura">
    </div>
    <div class="form-group">
        <input type="number" class="form-control" id="peso" name="peso" placeholder="Peso" [(ngModel)]="att.altura" required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="sexo" name="sexo" placeholder="Sexo" readonly>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="status" name="status" placeholder="Status" readonly>
    </div>
    <button type="submit" class="btn btn-outline-dark" [disabled]="!formAtualizar.valid">Atualizar</button>
</form>